html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






















@font-face {
  font-family: 'Roboto';
  src: url('./assets/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Playfair';
  src: url('./assets/PlayfairDisplay-VariableFont_wght.ttf');
}

:root{
  --main-white: rgb(255, 255, 255);
  --main-blue: hsl(204, 87%, 55%);
  --name-colour: rgb(12, 12, 53);
}

.twitterWhite {
  display: none;
}

.projectInfoText {
  display: none;
}

.appContainer {
  width: 100dvw;
  height: 100dvh;
}

body {
  margin: 0;
  background: linear-gradient( 135deg, var(--main-blue) 45%, var(--main-white) 40%);
  z-index: 0;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
  padding: 0;
}

.headerContainer {
  display: grid;
  grid-template-areas: 
  "a a a"
  "b b b"
  "c c c"
  "d d d"
  "e e e";
  justify-items: center;
}

img {
  width: 90%;
}

.profilePicture {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.projectImage {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  grid-area: b;
}

.projectNameText {
  grid-area: a;
}

.github {
  grid-area: d;
}

.openNew {
  grid-area: e;
}

h1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: end;
  margin: 0;
  margin-left: 8%;
  font-size: 2.3rem;
  font-family: 'Playfair';
  color: var(--name-colour);
}

h2 {
  grid-column-start: 1;
  grid-column: span 3;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Playfair';
  font-size: 3rem;
  color: var(--name-colour);
  text-align: center;
}

h3 {
  color: var(--name-colour);
  margin: 0;
  margin-bottom: 4%;
  grid-column-start: 1;
  grid-column: span 3;
  font-size: 1.3rem;
  font-family: 'Playfair';
}

h4 {
  color: var(--name-colour);
  margin: 0;
  margin-bottom: 2%;
  grid-column-start: 1;
  grid-column: span 3;
  font-family: 'Playfair';
}

h5 {
  font-family: 'Roboto';
}

.aboutMeText {
  grid-column-start: 1;
  grid-column: span 3;
  margin: 0;
  font-family: 'Roboto';
  color: var(--name-colour);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.socialIcon {
  width: 22px;
  margin-right: 2px;
  padding: 0.5rem;
}

.socialIconContainer {
  grid-column-start: 1;
  grid-column: span 3;
  align-items: center;
  justify-items: center;
  display: flex;

}

.contactContainer > h3 {
  font-size: 1rem;
}

.section {
  width: 90%;
  padding: 5%;
}

.projectListItem{
  display: grid;
  grid-template-areas: 
  "a a a"
  "b b b"
  "b b b"
  "c d e";
  justify-items: center;
}



.contactContainer {
  display: grid;
  grid-template-areas: 
  "a a a"
  "b b b"
  "c c c"
  "d d d"
  "e e e"
  "f f f"
  "g g g"
  "h h h";
  justify-items: center;
  margin-top: 2%;
}

.contactGoose {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 9;
  grid-row-end: 10;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.projectInfoContainer {
  grid-column: span 3;
  width: 90%;
}

@media only screen and (min-width: 720px) {

  .contactGoose {
    margin-bottom: 3%;
  }

  .projectInfoText {
    display: block;
  }

  body {
    margin: 0;
    background: linear-gradient( 165deg, var(--main-blue) 50%, var(--main-white) 40%);
    z-index: 0;
    background-repeat: no-repeat;
  }

  .socialHeader {
    display: none;
  }

  h2 {
    font-size: 4rem;
    margin-bottom: 6%;
  }

  h3 {
    font-size: 1.7rem;
  }

  h5 {
    margin-left: 2%;
  }

  .projectInfoContainer {
    display: flex;
    flex-direction: row;
    background-color: var(--main-white);
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 8%;
    text-align: center;
  }

  .headerContainer {
    display:block
  }

  .profilePicture {
    width: 55%;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    z-index: 3;
    position: relative;
  }

  h1 {
    font-size: 3.2rem;
    color: var(--main-white);
    position: absolute;
    margin-top: 0.8rem;
    display: flex;
    right: 4rem;
    z-index: 4;
  }

  .aboutMeContainer {
    background-color: var(--main-white);
    padding: 5%;
    padding-top: 2%;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 12%;
    z-index: 2;
  }

  .aboutMeText {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .aboutMeTitle {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  ul {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
  }
   .section {
    padding-bottom: 0;
   }

   .contactContainer {
    background-color: var(--main-blue);
   }

   .contactContainer > h3 {
    color: var(--main-white);
   }

   h4 {
    color: var(--main-white);
   }

   .contactTitle {
    color: var(--main-white);
   }

   .twitterWhite {
    display: flex;
    grid-column-start: 3;
  }

  .twitterBlue {
    display: none;
  
  }
}